@{
    ViewData["Title"] = "Borrowed";
}

@model List<NLTDSimpleInventory.Web.Models.BorrowedViewModel>

@if (TempData["ReturnSuccess"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["ReturnSuccess"]
    </div>
}

<div class="card mt-5">
    <div class="card-header bg-border text-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0 text-dark">BORROWED ITEMS</h5>
    </div>
    <div class="card-body">
        <table id="itemsTable" class="display text-center align-middle small">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Borrower</th>
                    <th>Date Borrowed</th>
                    <th>Date Returned</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrowedItem in Model)
                {
                    <tr>
                        <td>@borrowedItem.ItemName</td>
                        <td>@borrowedItem.Borrower</td>
                        <td>@borrowedItem.DateBorrowed</td>
                        <td>@borrowedItem.DateReturned</td>
                        <td>
                            <form method="post" asp-action="ReturnItem" asp-controller="Borrowed" asp-route-id="@borrowedItem.Id" style="display:inline;">
                                <button type="submit" class="btn btn-sm btn-primary px-3 py-0"
                                @(borrowedItem.DateReturnedRaw != null ? "disabled" : "")>
                                    <i class="fa-solid fa-circle-arrow-down"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
