@{
    ViewData["Title"] = "Borrowers";
}
@model List<NLTDSimpleInventory.Web.Models.BorrowersViewModel>

<div class="card mt-5">
    <div class="card-header bg-border text-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0 text-dark">BORROWERS</h5>
    </div>
    <div class="card-body">
        <table id="itemsTable" class="display text-center align-middle small" style="width:100%"  data-borrowers='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))'>
            <thead>
                <tr>
                    <th></th> 
                    <th>Name</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrower in Model)
                {
                    <tr data-borrower-id="@borrower.Id">
                        <td class="details-control" style="cursor: pointer;">
                            <i class="fas fa-caret-down"></i>
                        </td>
                        <td>@borrower.Name</td>
                        <td>@borrower.Address</td>
                        <td>
                            <button class="btn btn-sm btn-warning px-3 py-0 edit-btn" data-id="@borrower.Id">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger px-3 py-0 delete-btn" data-id="@borrower.Id">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
